# Spatial & Data Processing
pandas
numpy
geopandas
h3
pygeohash
shapely

# Deep Learning & ML (Module 3)
torch
torchvision
torchaudio
xgboost
lightgbm
scikit-learn
prophet

# Mobility Simulation (Module 1)
sumolib
traci
networkx

# Visualization & Utils
matplotlib
seaborn
tqdm